<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='manifest' href='/manifest.json' />
    <script type="text/javascript" src='/js/pushpotsSDK.js' ></script>
	<script type="text/javascript">
		pushpots.init("0850326884D59B1C1FCC53188973703390E434F61B503FE24BE0C5AA25818D83");
		alert(pushpots.get_key());
	</script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
